aiohttp
async-timeout
attrs
beautifulsoup4
bs4
certifi
chardet
click
Flask
html-text
html5lib
idna
itsdangerous
Jinja2
loguru
lxml
MarkupSafe
multidict
soupsieve
tqdm
Werkzeug
xmltodict
yarl
Pillow
pytesseract
Cython
convertapi
urllib3
threadpool
tabulate
certifi
chardet
requests
pytz
kbbi
NHentai-API
wikipedia
youtube-dl
moviepy
luxand
youtube-search-python
search-engine-parser
